{% assign constructor = site.data[page.version].constructors[page.title] %}
{% assign types = site.data[page.version].types %}

<div id="constructor">

	<div id="top">

		<h1>{{include.class_name}}</h1>

		{% if constructor.extends %}

			<span id="extends">
				&#8627; EXTENDS
				<a href="./{{constructor.extends | remove: 'Tone.'}}">
					{{constructor.extends}}
				</a>
			</span>
		{% endif %}

	</div>

	{% if constructor.singleton %}
		<span id="singleton" class="notice">SINGLETON</span>
	{% endif %}

	{% if constructor.deprecated %}
		<div id="deprecated">
			DEPRECATED: {{constructor.deprecated | markdownify }}
		</div>
	{% endif %}

	<div id="description">
		{% include util/markdown.html data=constructor.description %}
	</div>

	<div id="invocation">
		{% unless singleton %}

			<h3>CONSTRUCTOR</h3>

			<span class="red">new</span>
			<span id="class_name">{{include.class_name}}</span>

			{% include inline_params.html params=constructor.params %}

			{% include parameters.html params=constructor.params types=types %}
		{% endunless %}
	</div>

	{% include constructor/defaults.html %}

	{% include examples.html examples=constructor.examples %}

	<div id="class_index">
		{% include class_index/class_index.html
			members=include.members
			static_members=include.static_members
			static_methods=include.static_methods
			methods=include.methods %}
	</div>

</div>
