{% assign defaults = include.data 
	| where_exp: "item","item.memberof == include.defaults_name" 
	| where: "scope","static" 
	| sort: "name" %}

<div class="paren">{% raw %} { {% endraw %}</div>
<div class="break"></div>

{% for default in defaults %}

	<div class="block">
		<span class="key"> {{default.name}} </span>

		<span class="punc">:</span>

		{% if default.meta.code.type == "ObjectExpression" %}
			{% assign defaults_name = include.defaults_name | append: '.' | append: default.name %}
			{% include constructor/defaults_object.html 
				data=include.data 
				defaults_name=defaults_name %}
		{% else %}

			<span class="value">{{default.meta.code.value}}</span>
			 
		{% endif %}
		{% comment %}add a comma{% endcomment %}
		{% if forloop.rindex != 1 %}
			<span class="comma">,</span>
		{% endif %}
		<div class="break"></div>
	</div>

{% endfor %}

<div class="paren">{% raw %} } {% endraw %}</div>
