<div class="paren">{% raw %} { {% endraw %}</div>
<div class="break"></div>

{% for default in include.defaults %}

	<div class="block">
		<span class="key"> {{default[0]}} </span>

		<span class="punc">:</span>

		{% if default[1].first %}
			{% assign sub = default[1] %}
			{% include constructor/defaults_object.html defaults=sub %}
		{% else %}
			<span class="value">{{default[1]}}</span>
		{% endif %}
		{% comment %}add a comma{% endcomment %}
		{% if forloop.rindex != 1 %}
			<span class="comma">,</span>
		{% endif %}
		<div class="break"></div>
	</div>

{% endfor %}

<div class="paren">{% raw %} } {% endraw %}</div>
