<div class="{{include.class}}">

	{% include util/inherits.html inherits=include.data.inherits name=include.data.name  %}

	{% capture name_line %}

		{% assign signal = include.data.tags | where:"title","signal" %}
		{% if signal %}
			<a href="https://github.com/Tonejs/Tone.js/wiki/Signals" id="signal">&#8767;</a>
		{% endif %}

		<h4 id="{% include util/slug.html data=include.data %}">
			.{{include.data.name}}
		</h4>

		<span class="orange">&#8605;</span>

		{% include type.html type=include.data.type types=include.types %} 	

		{% if include.data.readonly %}
			<span id="readonly" class="keyword">READONLY</span>
		{% endif %}

	{% endcapture %}

	{% include name.html data=include.data line=name_line %}

	<div id="description">
		{% include util/markdown.html data=include.data.description %}
	</div>

	{% include examples.html examples=include.data.examples %}

	{% include line_num.html data=include.data  %}

</div>