<div class="{{include.class}}">

	{% include util/inherits.html inherits=include.data.inherits name=include.data.name  %}

	{% capture line %}
		<h4 id="{% include util/slug.html data=include.data %}">
			<span id="main">
				.{{ include.data.name }}
			</span>
			{% include inline_params.html data=include.data types=include.types %}
		</h4>
	{% endcapture %}

	{% include name.html data=include.data line=line %}

	{% include parameters.html params=include.data.params returns=include.data.returns types=include.types %}

	<div id="description">
		{% include util/markdown.html data=include.data.description %}
	</div>

	{% include examples.html examples=include.data.examples %}

	{% include line_num.html lineno=include.data.lineno  %}
</div>
