<div id="parameters">
	{% for param in include.params %}
		<div class="param">

			
			<span id="param_name">
				{{param.name}}
			</span>

			<span id="param_description">
				
				{% if param.description %}

					{% include util/markdown.html data=param.description %}

				{% endif %}

				<div id="type">
					<span id="type_text" class="keyword">type:</span> {% include type.html type=param.type types=include.types %}
				</div>

				{% if param.defaultvalue %}
					<div id="default">
						<span class="keyword">default:</span>
						<span class="default_value">{{param.defaultvalue}}</span> 
					</div>
				{% elsif param.optional %}
					<div id="optional" class="keyword">optional</div>
				{% endif %}
			

			</span>

		</div>
	{% endfor %}

	{% if include.returns %}
		
		<div id="returns">

			{% assign ret = include.returns[0] %}


			<span id="type">

				<span id="ret_text" class="keyword">&#8618; returns</span> 

				{% include type.html type=ret.type types=include.types %} 
			</span>

			<span id="param_description">
				{% include util/markdown.html data=ret.description %}
			</span>

		</div>

	{% endif %}

</div>

