<div id="sidebar" {% if include.visible %}
	class="visible"
{% endif %}>

	<div id="searchbox">
		<input type="text">
		<div id="clear"></div>
	</div>

	<div id="scroller">
		{% comment %} list all of the classes by category {% endcomment %}
		{% assign categories = site.documentation 
			| where_exp: "item","item.category" 
			| group_by: "category" 
			| sort: "name" %}

		{% for category in categories %}
			<div class="group">
				<h1>{{category.name}}</h1>
				{% for item in category.items %}
					{% comment %}test if there is a class description with that name{% endcomment %}
					{% assign class_desc = include.jsdocs | where: "kind","class" | where: "name",item.title  %}
					{% if class_desc.size > 0 %}
						<a href="{{item.title}}" {% if item.title == page.title %} class="active item" {% else %} class="item" {% endif %}>{{item.title}}</a>
					{% endif %}

				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div id="seperator"></div>
</div>
<div id="hamburger">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</div>

<script>

	var allListItems = []
	var items = document.querySelectorAll("#sidebar .item")
	for (var i = 0; i < items.length; i++){
		var el = items[i]
		var name = el.textContent.toLowerCase()
		allListItems.push({
			"name" : name,
			"element" : el
		})
	}

	document.querySelector("#searchbox input").addEventListener("input", function(e){
		var word = e.target.value.toLowerCase()
		allListItems.forEach(function(item){
			if (item.name.indexOf(word) === -1){
				item.element.style.display = "none"
			} else {
				item.element.style.display = "inherit"
			}
		})
	})

	document.querySelector("#searchbox #clear").addEventListener("click", function(e){
		document.querySelector("#searchbox input").value = "";
		allListItems.forEach(function(item){ item.element.style.display = "inherit" })
	})
	
	//the hamburger menu
	document.querySelector("#hamburger").addEventListener("click", function(){
		var sidebar = document.querySelector("#sidebar")
		var currentDisplay = sidebar.classList.contains("visible")
		if (currentDisplay){
			sidebar.classList.remove("visible")
		} else {
			sidebar.classList.add("visible")
		}
	})
</script>