<div id="sidebar" {% if include.visible %}
	class="visible"
{% endif %}>

	<div id="searchbox">
		<input type="text">
		<div id="clear"></div>
	</div>

	<div id="scroller">

		{% comment %} list all of the classes by category {% endcomment %}

		{% assign classList = site.data[include.version].classList %}

		{% for category in classList %}
			<div class="group">
				<h1>{{category[0]}}</h1>

				{% for class in category[1] %}
					<a href="{{class}}" {% if class == page.title %} class="active item" {% else %} class="item" {% endif %}>{{class}}</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div id="seperator"></div>
</div>
<div id="hamburger">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</div>

<script>

	var allListItems = []
	var items = document.querySelectorAll("#sidebar .item")
	for (var i = 0; i < items.length; i++){
		var el = items[i]
		var name = el.textContent.toLowerCase()
		allListItems.push({
			"name" : name,
			"element" : el
		})
	}

	document.querySelector("#searchbox input").addEventListener("input", function(e){
		var word = e.target.value.toLowerCase()
		allListItems.forEach(function(item){
			if (item.name.indexOf(word) === -1){
				item.element.style.display = "none"
			} else {
				item.element.style.display = "inherit"
			}
		})
	})

	document.querySelector("#searchbox #clear").addEventListener("click", function(e){
		document.querySelector("#searchbox input").value = "";
		allListItems.forEach(function(item){ item.element.style.display = "inherit" })
	})

	//the hamburger menu
	document.querySelector("#hamburger").addEventListener("click", function(){
		var sidebar = document.querySelector("#sidebar")
		var currentDisplay = sidebar.classList.contains("visible")
		if (currentDisplay){
			sidebar.classList.remove("visible")
		} else {
			sidebar.classList.add("visible")
		}
	})

	//also offset the sidebar when an item is selected
	var activeEl = document.querySelector('#sidebar .active.item')
	if (activeEl){
		document.querySelector('#sidebar').scrollTop = activeEl.parentElement.offsetTop - 10
	}
</script>
