<span class="type">
	{% for type in include.type.names %}
		{% if type contains 'Tone.' %}
			{% assign link_path =  type | remove: 'Tone.' %}
			{% capture content %}
				<a href="{{link_path}}">{{type}}</a>
			{% endcapture %}
		{% elsif type contains 'Tone'%}
			{% capture content %}
				<a href="{{type}}">{{type}}</a>
			{% endcapture %}
		{% else %}
			{% assign type_def = include.types | where: "name",type | first %}
			{% if type_def.size %}
				{% capture content %}
					<a href="Type#{{type | slugify}}">
						{{type}}
					</a>
				{% endcapture %}
			{% else %}
				{% capture content %}{{type}}{% endcapture %}
			{% endif %}
		{% endif %}
		<span class="type_name">{{content}}</span>
		{% if forloop.rindex != 1 %}
			<span class="punc">or</span>
		{% endif %}

	{% endfor %}

	{% comment %}<span>{{include.type.names | join: " or "}}</span>{% endcomment %}
</span>