---
---

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import 'common.scss';

body {
	min-height: 100px;
	font-family : 'Inconsolata', monospace;
	font-size: 18px;

	button {
		background-color: black;
		color: white;
		padding: $margin * 2;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		margin: $margin;
		border: none;
		outline: none;
		font-size: 1em;

		&:hover {
			background-color: white;
			color: $purple;

			&:active {
				color: $teal;
			}
		}
	}
}