---
---

@import "common.scss";

#content {
	@for $i from 1 through 36 {

		span:nth-of-type(#{$i}) {
			h2 {
				$color : adjust-hue($purple, (($i - 1) / 36) * 200);
				color: $color;
				border-color: $color;
			}
		}
	}	

	.typeblock {

		display: block;
		padding: 0px 10px 1px;

		&:target {
			background-color: $lightPurple;
		}

		h2 {
			margin-bottom: $padding;
			font-size: 1.2em;

		}

		a {
			text-decoration: underline;
		}
	}

}