<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>{{page.title}}</title>
	<link rel="icon" type="image/png" sizes="174x174" href="assets/images/favicon.png">
	<script type="text/javascript" src="assets/scripts/prefixfree.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto" rel="stylesheet">
	
</head>
<body>

	{% include topbar.html %}
	
	<div id="content">
		{{content}}
	</div>
	{% include analytics.html  %}
</body>
</html>
