<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://tonejs.github.io/Logo/build/Logo.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>{{page.title}}</title>
	<link rel="icon" type="image/png" sizes="174x174" href="style/favicon.png">
	<script type="text/javascript" src="assets/scripts/prefixfree.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
	{% include topbar.html %}
	
	<div id="content">
		{{content}}
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-89548134-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
