<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	
	<link rel="stylesheet" type="text/css" href="/assets/css/docs.css">
</head>
<body>

	{% assign jsdoc_version =  page.version | prepend: 'jsdocs-' %}

	{% assign jsdocs = site.data[jsdoc_version] %}

	{% assign class_name = page.title %}
	{% if class_name != 'Tone' %}
		{% assign class_name = {{class_name | prepend: 'Tone.' }} %}
	{% endif %}

	{% assign constructor = jsdocs 
			| where: "kind","class"
			| where: "name",page.title
			| first %}

	{% assign members = jsdocs 
			| where: "kind","member" 
			| where: "memberof",class_name
			| where: "scope","instance" 
			| where_exp: "item","item.undocumented != true"
			| where_exp: "item","item.access != 'private'" 
			| where_exp: "item","item.inherits != 'Tone#numberOfInputs'" 
			| where_exp: "item","item.inherits != 'Tone#numberOfOutputs'"
			| sort: "name"
			| sort: "inherits" %}

	{% assign methods = jsdocs 
			| where: "kind","function" 
			| where: "memberof",class_name
			| where: "scope","instance"
			| where_exp: "item","item.undocumented != true"
			| where_exp: "item","item.access != 'private'" 
			| where_exp: "item","item.inherits != 'Tone#toSeconds'" 
			| where_exp: "item","item.inherits != 'Tone#toFrequency'" 
			| where_exp: "item","item.inherits != 'Tone#toTicks'" 
			| where_exp: "item","item.inherits != 'Tone#toMaster'"
			| where_exp: "item","item.inherits != 'Tone#send'" 
			| where_exp: "item","item.inherits != 'Tone#receive'" 
			| sort: "name"
			| sort: "inherits" %}

	{% assign static_members = jsdocs 
			| where: "kind","member" 
			| where: "memberof",class_name
			| where: "scope","static"
			| where_exp: "item","item.undocumented != true"
			| where_exp: "item","item.name != 'defaults'"
			| where_exp: "item","item.access != 'private'" 
			| sort: "name"
			| sort: "inherits" %}

	{% assign static_methods = jsdocs 
			| where: "kind","function" 
			| where: "scope","static" 
			| where: "memberof",class_name
			| where_exp: "item","item.undocumented != true"
			| where_exp: "item","item.access != 'private'" 
			| sort: "name"
			| sort: "inherits" %}

	{% assign types = jsdocs 
			| where: "kind","typedef" 
			| where: "memberof","Tone.Type"
			| sort: "name" %}

	{% comment %}{% include topbar.html %}{% endcomment %}

	{% comment %}SIDEBAR{% endcomment %}

	{% include sidebar.html jsdocs=jsdocs class_name=class_name version=page.version %}

	{% comment %}CONTENT{% endcomment %}

	<div id="content">

		{% comment %}CONSTRUCTOR{% endcomment %}

		{% include constructor/constructor.html 
			methods=methods 
			static_methods=static_methods 
			members=members 
			types=types 
			static_members=static_members 
			jsdocs=jsdocs 
			data=constructor 
			class_name=class_name %}

		{% comment %}MEMBERS{% endcomment %}

		{% if members.size > 0 %}

			<h2 class='property member'>Members</h2>

			{% for member in members %}
				{% include member.html data=member class_name=class_name class='member' types=types %}
			{% endfor %}

		{% endif %}

		{% comment %}METHODS{% endcomment %}

		{% if methods.size > 0 %}

			<h2 class='property method'>Methods</h2>

			{% for method in methods %}
				{% include method.html data=method class_name=class_name class='method' types=types%}
			{% endfor %}

		{% endif %}

		{% comment %}STATIC MEMBERS{% endcomment %}

		{% if static_members.size > 0 %}

			<h2 class='property staticMember'>Static Members</h2>

			{% for member in static_members %}
				{% include member.html data=member class_name=class_name class='staticMember' types=types%}
			{% endfor %}

		{% endif %}

		{% comment %}STATIC METHODS{% endcomment %}

		{% if static_methods.size > 0 %}

			<h2 class='property staticMethod'>Static Methods</h2>

			{% for method in static_methods %}
				{% include method.html data=method class_name=class_name class='staticMethod' types=types%}
			{% endfor %}

		{% endif %}

	</div>
	{% comment %}GENERATED TIME{% endcomment %}
	<div id="generated">docs generated {{ site.time | date: "%h %d %Y" }}</div>
	
</body>
</html>
