<!DOCTYPE html>
<html>
<head>
	{% include head.html %}

</head>
<body>

	{% comment %}SIDEBAR{% endcomment %}

	{% assign version = page.version | replace: ".", "_" %}

	{% include sidebar.html class_name=page.title version=version %}

	{% assign class_name = page.title %}
	{% if class_name != 'Tone' %}
		{% assign class_name = class_name | prepend: 'Tone.'  %}
	{% endif %}

	{% assign types = site.data[version].types %}

	{% assign all_methods = site.data[version].methods[page.title] %}
	{% if all_methods.size > 0 %}
		{% assign all_methods = all_methods | sort: "name" | sort: "inherits" %}
	{% endif %}
	{% assign methods = all_methods | where_exp: "item","item.scope == 'instance'" %}
	{% assign static_methods = all_methods | where_exp: "item","item.scope == 'static'" %}

	{% assign all_members = site.data[version].members[page.title] %}
	{% if all_members.size > 0 %}
		{% assign all_members = all_members | sort: "name" | sort: "inherits" %}
	{% endif %}
	{% assign members = all_members | where_exp: "item","item.scope == 'instance'" %}
	{% assign static_members = all_members | where_exp: "item","item.scope == 'static'" %}

	{% comment %}CONTENT{% endcomment %}

	<div id="content">
		{% comment %}CONSTRUCTOR{% endcomment %}

		{% include constructor/constructor.html
			methods=methods
			static_methods=static_methods
			members=members
			types=types
			static_members=static_members
			class_name=class_name
			types=types %}

		{% comment %}MEMBERS{% endcomment %}

		{% if members.size > 0 %}

			<h2 class='property member'>Members</h2>

			{% for member in members %}
				{% include member.html data=member class_name=class_name class='member' types=types%}
			{% endfor %}

		{% endif %}

		{% comment %}METHODS{% endcomment %}

		{% if methods.size > 0 %}

			<h2 class='property method'>Methods</h2>

			{% for method in methods %}
				{% include method.html data=method class_name=class_name class='method' types=types%}
			{% endfor %}

		{% endif %}

		{% comment %}STATIC MEMBERS{% endcomment %}

		{% if static_members.size > 0 %}

			<h2 class='property staticMember'>Static Members</h2>

			{% for member in static_members %}
				{% include member.html data=member class_name=class_name class='staticMember' types=types%}
			{% endfor %}

		{% endif %}

		{% comment %}STATIC METHODS{% endcomment %}

		{% if static_methods.size > 0 %}

			<h2 class='property staticMethod'>Static Methods</h2>

			{% for method in static_methods %}
				{% include method.html data=method class_name=class_name class='staticMethod' types=types%}
			{% endfor %}

		{% endif %}

	</div>

	{% comment %}GENERATED TIME{% endcomment %}
	<div id="generated">docs generated {{ site.time | date: "%h %d %Y" }}</div>

	{% include analytics.html  %}

	<script src="//unpkg.com/tone@{{page.version}}/build/Tone.js"></script>

</body>
</html>
